


.horario-text-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-primary);
  width: 100%;
  padding: 0.75rem 1.25rem;
}


.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2e2c30;
  border-radius: 8px;
  margin-top: 2rem;
  width: 100%;
}

.horario-agendamento {
  display: flex;
  align-items: center;
}

.horario-agendamento p {
  color: var(--content-secondary);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.descricao-agendamento span {
  color: var(--content-secondary);
}

.text {
  display: flex;
  gap: 0.75rem;
}

.horario-text-container h2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--color-primary);
}

.descricao-agendamento {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.descricao-agendamento p {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
}

.descricao-agendamento a {
  color: var(--color-tertiary);
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
}

.b-bottom {
  border-bottom: 1px solid #353339;
}
